{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <form class="ui form" method="post">{% csrf_token %}
    <div class="field">
      {{ form.title }}
    </div>
    <script type="text/javascript" language="JavaScript">
        function checkForm() {
        answer = true;
        if (siw && siw.selectingSomething)
          answer = false;
        return answer;
        }//
</script>
    <div class="field wickEnabled">
      {{ form.description }}
    </div>
    <!-- <div class="field">
      {{ form.wiki }}
    </div> -->
    <div class="field">
      <div class="ui clearing segment">
        <button class="ui right floated positive button">
          <i class="save icon"></i> Save Post
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    $('form [name="title"]').attr({'placeholder': 'Post Title'});
    $('.ui.menu .ui.dropdown.item').dropdown();
  </script>
  <script>
    /*user_text  = " support vector machine and working of asynchronous javascript and and xml"
    var xhr = new XMLHttpRequest();   // new HttpRequest instance 
    xhr.open("POST", "/get");
    console.log(user_text)
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify({text:user_text, time:"2pm"}));
    xhr.onreadystatechange = processRequest;
    function processRequest(e) {
        if (xhr.readyState == 4 && xhr.status == 200) {
          // time to partay!!!
            var response = JSON.parse(xhr.responseText);
            console.log(response)
        }
    }*/
  </script>
  <!-- {% load static %}
  <script type="text/javascript" language="JavaScript" src="{% static '' %}"></script> 
  <script type="text/javascript" src="{% static 'martor/js/sample_data.js' %}"></script>
  {% load static %}
   <script type="text/javascript" language="JavaScript" src="{% static 'wick.js' %}"></script> 
  <script type="text/javascript" src="{% static 'martor/js/wick.js' %}"></script> -->
{% endblock %}
